{% extends 'admin_base.html' %}

{% block title %}Admin section{% endblock %}

{% block body %}

<h3>Admin starter page</h3>

{% if admin_list %}
<table style="float: left" cellspacing="10" class="table-listing">
    <tr>
        <th>
            <b><h4>Admins</h4></b>
        </th>
    </tr>
    <tr>
        <th>
            <b>Name</b>
        </th>
        <th>
            <b>Email</b>
        </th>
    </tr>
    {% for admin in admin_list %}
    <div>
        <tr>
            <td>
                {{ admin[1] }}
            </td>
            <td>
                {{ admin[3] }}
            </td>
        </tr>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>No admins added yet</p>
    </div>
</table>
{% endif %}

{% endblock %}