<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/style.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% set navigation_bar = [
        ('/', 'index', 'Return to homepage'),
        ('/admin', 'admin', 'Return to admin homepage'),
        ('/admin/login', 'admin_login', 'Login'),
        ('/admin/signup', 'admin_signup', 'Signup'),
        ('/admin/logout', 'admin_logout', 'Logout'),
    ] -%}
    {% set active_page = active_page|default('index') -%}
    <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
        <li>
            <a href="{{ href|e }}" class="nav-bar">{{ caption|e }}</a></li>
        {% endfor %}

        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}

        {% block body %}{% endblock %}

</body>

</html>