{% extends 'admin_base.html' %}

{% block title %}Admin login{% endblock %}

{% block body %}

    <h1>Admin login</h1>

    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}

    {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

    <table cellspacing="10">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {% for field in form %}
            <tr>
                <td>
                    {{ field.label }}
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
            {% endfor %}
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </form>

    </table>

{% endblock %}