body {
    background-color: lightblue;
  }

.table-listing {
    background-color: rgb(93, 190, 223);
    border-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 10px;
}

.nav-bar {
    color: black;
    

}