<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/style.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% set navigation_bar = [
        ('/', 'index', 'Index'),
        ('/create_book/', 'create_book', 'Create book'),
        ('/create_loantaker/', 'create_loantaker', 'Create loantaker'),
        ('/make_new_loan/', 'make_new_loan', 'Make new loan'),
        ('/admin/', 'admin', 'Admin section')
    ] -%}
    {% set active_page = active_page|default('index') -%}
    <ul id="navigation">
        {% for href, id, caption in navigation_bar %}
        <li>
            <a href="{{ href|e }}" class="nav-bar">{{ caption|e }}</a></li>
        {% endfor %}

        {% block body %}{% endblock %}
</body>

</html>