{% extends 'base.html' %}

{% block title %}Create book page{% endblock %}

{% block body %}

<h1>Create books</h1>

    <table cellspacing="10">
        <form action="" method="POST">
            {% for field in form %}
            <tr>
                <td>
                    {{ field.label }}
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </form>

    </table>

    {% endblock %}