{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Homepage</h1>



{% if books %}
<table style="float:left" cellspacing="10" class="table-listing">
    <tr>
        <th>
            <b><h4>Books</h4></b>
        </th>
    </tr>
    <tr>
        <th>
            <b>Edit</b>
        </th>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>Author</b>
        </th>
        <th>
            <b>Date released</b>
        </th>
    </tr>
    {% for book in books %}
    <div>
        <tr>
            <td>
                {# Update Book #}
                <a href="/update_book/{{ book.id }}">{{ book.id }}</a>
            </td>
            <td>
                {{ book.title }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {{ book.date_released.strftime('%Y-%m-%d') }}
            </td>
        </tr>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>No books added yet</p>
    </div>
</table>
{% endif %}

{% if loantakers %}
<table style="float: left" cellspacing="10" class="table-listing">
    <tr>
        <th>
            <b><h4>Loantakers</h4></b>
        </th>
    </tr>
    <tr>
        <th>
            <b>Firstname</b>
        </th>
        <th>
            <b>Lastname</b>
        </th>
    </tr>
    {% for loantaker in loantakers %}
    <div>
        <tr>
            <td>
                {{ loantaker.name }}
            </td>
            <td>
                {{ loantaker.lastname }}
            </td>
        </tr>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>No loantakers added yet</p>
    </div>
</table>
{% endif %}

{% if loans %}
<table style="float: left" cellspacing="10" class="table-listing">
    <tr>
        <th>
            <b><h4>Loans</h4></b>
        </th>
    </tr>
    <tr>
        <th>
            <b>Loantaker</b>
        </th>
        <th>
            <b>Title</b>
        </th>
        <th>
            <b>To be returned</b>
        </th>
    </tr>
    {% for loan in loans %}
    <div>
        <tr>
            <td>
                {# Loantakers name #}
                {{ loan[0].name }}
            </td>
            <td>
                {# Book title #}
                {{ loan[2].title }}
            </td>
            <td>
                {# Book due date #}
                {{ loan[1].date_in - date }}
            </td>
            <td>
                {# Return link #}
                <a href="/return_loan/{{ loan[2].id }}">Return book</a>
            </td>
        </tr>
    </div>
    {% endfor %}
    {% else %}
    <div>
        <p>No loans added yet</p>
    </div>
</table>
{% endif %}



{% endblock %}