{% extends 'base.html' %}

{% block title %}Create loan page{% endblock %}

{% block body %}

<h1>Make new loan</h1>

<table cellspacing="10">
    <form action="" method="POST"> 
            {{ form.csrf_token }}
        {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td>
                {{ field }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </form>
    
</table>


{% endblock %}