{% extends 'base.html' %}

{% block title %}Update book page{% endblock %}

{% block body %}

<h1>Update book</h1>

    <table cellspacing="10">
        <form action="" method="POST">
            <tr>
                <td>
                    <label for="title">Title</label>
                </td>
                <td>
                    <input id="title" name="title" placeholder="{{book.title}}" required type="text" value="">
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="author">Author</label>
                </td>
                <td>
                    <input id="author" name="author" placeholder="{{book.author}}" required type="text" value="">
                </td>
            </tr>
            
            <tr>
                <td>
                    <label for="date_released">Date released</label>
                </td>
                <td>
                    <input id="date_released" name="date_released" type="date" value="">
                </td>
                <td>
                    <p>
                        {{book.date_released.strftime('%Y-%m-%d')}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </form>

    </table>

    {% endblock %}